* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 10%;
    width: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(100, 200, 255);
    color: black;
}

.homepage {
    margin-top: 10px;
    background-color: rgb(0, 255, 50);
    width: 100%;
    height: 100px;
}

.homepagefirsth1 {
    font-size: 20px;
    color: rgb(53, 128, 207);
    text-align: center;
    padding: 35px;
}

.aboutpage {
    margin-top: 10px;
    background-color: rgb(0, 255, 50);
    width: 100%;
    height: 100px;
}

.aboutpagefirsth1{
    font-size: 20px;
    color: rgb(53, 128, 207);
    text-align: center;
    padding: 35px;
}